.classpath
.idea
.project
.settings/
.sonatype
target/
sonatype-work/
log/
dependency-reduced-pom.xml
*.iml
*.eml
.DS_Store
.*.swp
.tags
.vscode/
.factorypath
perfTemp_*/
perf_results-*.out
.pmd
.pmdruleset.xml
awsPerfRun_*/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
.terraform.tfstate.lock.info
override.tf
.terraform
terraform.tfvars
__pycache__

# dep tree that is created as part of IQ for vsCode
dependency_tree.txt
charts/
